In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as py
from glob import glob

In [4]:
results_G = pd.read_csv('G_points/result.dat', header=None, sep='\t')
results_M = pd.read_csv('logs/results.dat', header=None, sep='\t')

In [5]:
results_G

   0      1      2      3  4      5  6      7      8
0 -5  46481  52723    258  0    445  0      0     17
1 -4  46465  52577    296  0    643  0      0      4
2 -3  45602  50396   1161  0   2775  0      3     57
3 -2  35341  22159  11283  0  30307  0    142    767
4 -1  19186   6180  25588  0  42381  0   1993   4672
5  0  15558  33539   3871  0   3563  0  27338  16131
6  1  23671  26390      0  0      0  0  23096  26843

In [6]:
results_M

   0      1      2      3  4      5  6      7      8
0 -5  46538  52751    239  0    463  0      0      9
1 -4  46478  52574    299  0    644  0      0      5
2 -3  45613  50396   1161  0   2768  0      3     59
3 -2  35381  22207  11260  0  30262  0    136    754
4 -1  20547   4994  24662  0  43204  0   1568   5025
5  0  26848  22804   2909  0   3605  0  17020  26814
6  1  23074  27230      1  0      0  0  23702  25993

In [7]:
d1 = abs(results_M-results_G)
m1 = abs(results_M+results_G)/2

pd.DataFrame(d1.values*100/m1.values)

<ipython-input-7-4a3faf3638b3>:4: RuntimeWarning: invalid value encountered in true_divide
  pd.DataFrame(d1.values*100/m1.values)

,0,1,2,3,4,5,6,7,8
0,0.0,0.122556,0.053094,7.645875,NaN,3.964758,NaN,NaN,61.538462
1,0.0,0.027974,0.005706,1.008403,NaN,0.155400,NaN,NaN,22.222222
2,0.0,0.024119,0.000000,0.000000,NaN,0.252571,NaN,0.000000,3.448276
3,0.0,0.113119,0.216382,0.204054,NaN,0.148591,NaN,4.316547,1.709402
4,0.0,6.850729,21.227850,3.685572,NaN,1.923234,NaN,23.869700,7.280602
5,NaN,53.247182,38.105887,28.377581,NaN,1.171875,NaN,46.521484,49.752008
6,0.0,2.554284,3.133159,200.000000,NaN,NaN,NaN,2.589854,3.217503

In [8]:
samples_G = {}
files_G = glob('G_points/sample*')

for name in files_G:
    lab = name.lstrip('G_points/sample_')
    lab = lab.rstrip('.dat')
    lab = int(lab)
    samples_G[lab] = pd.read_csv(name, header = None, sep = '\t')

samples_M = {}
files_M = glob('logs/sample*')

for name in files_M:
    lab = name.lstrip('logs/sample_')
    lab = lab.rstrip('.dat')
    lab = int(lab)
    samples_M[lab] = pd.read_csv(name, header = None, sep = '\t')

In [34]:
mass_num = -4

In [35]:
samples_M[mass_num]

,0,1,2,3,4,5,6
0,0.972748,0.800391,0.862955,0.880829,0.967228,-1.905320e-06,-0.000003
1,0.743507,0.254147,0.568105,0.148968,0.633521,-9.152650e-07,-0.000038
2,0.127546,0.477612,0.239886,0.118255,0.275181,-5.962730e-06,-0.000112
3,0.112788,0.833566,0.545835,0.442026,0.574804,-4.366870e-05,-0.000078
4,0.091092,0.940757,0.119037,0.119970,0.146927,-1.292010e-05,-0.000025
...,...,...,...,...,...,...,...
99995,0.101570,0.062423,-0.702185,0.305760,-0.614995,-1.824360e-06,-0.000195
99996,0.580940,0.243161,0.067998,0.423581,0.123066,-4.864950e-06,-0.000074
99997,0.323285,0.803119,-0.666957,0.996229,-0.637253,-7.473750e-05,-0.000107
99998,0.528185,0.378603,-0.136938,0.160189,-0.093673,-3.197250e-06,-0.000070
99999,0.737855,0.670743,0.931683,0.073347,0.972783,-1.360790e-06,-0.000018

In [36]:
samples_G[mass_num]

,0,1,2,3,4,5,6
0,0.972748,0.800391,0.862955,0.880829,0.967481,-1.905147e-06,-0.000003
1,0.743507,0.254147,0.568105,0.148968,0.633680,-9.147653e-07,-0.000038
2,0.127546,0.477612,0.239886,0.118255,0.275266,-5.959909e-06,-0.000112
3,0.112788,0.833566,0.545835,0.442026,0.574873,-4.365682e-05,-0.000078
4,0.091092,0.940757,0.119037,0.119970,0.146994,-1.291482e-05,-0.000025
...,...,...,...,...,...,...,...
99995,0.101570,0.062423,-0.702185,0.305760,-0.614783,-1.823105e-06,-0.000195
99996,0.580940,0.243161,0.067998,0.423581,0.123200,-4.863002e-06,-0.000074
99997,0.323285,0.803119,-0.666957,0.996229,-0.637182,-7.471747e-05,-0.000107
99998,0.528185,0.378603,-0.136938,0.160189,-0.093568,-3.195550e-06,-0.000070
99999,0.737855,0.670743,0.931683,0.073347,0.972883,-1.360401e-06,-0.000018

In [37]:
diff = abs(samples_G[mass_num] - samples_M[mass_num])*100
avg = 0.5*(samples_G[mass_num] + samples_M[mass_num])

percent = abs(pd.DataFrame(diff.values/avg.values))

In [38]:
abs(pd.DataFrame(diff.values/avg.values)).sort_values(0, ascending=False)

,0,1,2,3,4,5,6
28275,4.939648e-04,0.000061,0.000267,0.000047,0.039831,0.026995,0.023396
44142,4.907880e-04,0.000242,0.000055,0.000049,0.040863,200.000000,0.022579
54997,4.897110e-04,0.000051,0.000150,0.000018,0.022591,0.024448,0.024891
4578,4.888731e-04,0.000077,0.000047,0.000117,0.009941,0.040391,0.022355
86921,4.887476e-04,0.000029,0.000054,0.000004,0.010907,0.038656,0.026180
...,...,...,...,...,...,...,...
31947,4.171616e-09,0.000048,0.000062,0.000051,0.024949,0.038433,0.022822
26216,2.378450e-09,0.000025,0.000085,0.000037,0.101101,0.050179,0.026156
21740,1.873756e-09,0.000035,0.000020,0.000065,0.034282,0.053958,0.022547
20984,1.557405e-09,0.000089,0.000011,0.000015,0.033355,0.026993,0.022005
8248,9.924204e-10,0.000006,0.000048,0.000061,0.085824,0.034495,0.028284

In [39]:
mask_G = samples_G[mass_num] > 0
mask_M = samples_M[mass_num] > 0

In [40]:
comp = mask_M == mask_G

In [41]:
1e5 - comp[comp == True].count()

0     0.0
1     0.0
2     0.0
3     0.0
4    10.0
5     9.0
6     1.0
dtype: float64